@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: #cceeff;
}

.calculator {
    border: 5px double black;
    border-radius: 5px;
    width: 300px;    
    display: flex;
    flex-direction: column;    
}

.calculator .display {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.display .result-display,
.display .operation-display {
    padding: 10px;
}

.display .result-display {
    font-size: 40px;
    padding-top: 40px;
    font-weight: 700;
    background-color: #161a20;
    color: #ffffff;
    height: 100px;
}

.display .operation-display {
    font-size: 22px;
    background-color: #20252e;
    color: #717f93;
    height: 50px;

}

.calculator .button-group {    
    flex: 2;
    padding: 10px 10px 20px;
    display: flex;
    flex-direction: column;    
    gap: 3px;
    background-color: #161a20;
}

.button-group .button-row {
    display: flex;    
    justify-content: space-around;
    gap: 3px;
}

.button-row button {
    flex: 1;
    padding: 10px;
    font-size: 30px;
    color: #c3daf7;
}

/* double the size of the zero button */
.button-row:nth-child(5) button.number {
    flex: 2 ;
}

/* button colors */
.button-row button.number,
.button-row button.decimal {
    background-color: #242933;
}

.button-row button.operator,
.button-row button.equals {
    background-color: #0060e5;
}

.button-row button.all-clear,
.button-row button.sign-change,
.button-row button.backspace {
    background-color: #363e4c;
}